body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
#redbusmenublock{
   background-color: #d84f57;
   height: 60px;
   color: #fff;
   padding: 0px 50px;
   z-index: 1;
   position: relative;
}
#redbusmenublock .menuleft{
    width: 50%;
    float: left;
}
#redbusmenublock .menuright{
    width: 50%;
    float: left;
    text-align: right;
}
.leftlogoblockmenu ul,
.menuright ul{
    list-style: none;
}
.leftlogoblockmenu ul li,
.menuright ul li{
    display: inline-block;
}
.leftlogoblockmenu ul li a,
.menuright ul li a{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size:13px;
    font-weight: bold;
}
.logo{
    width: 15%;
    float: left;
}
.leftlogoblockmenu{
    width: 85%;
}
.logo a{
    text-indent: -9999px;
    background: url("../images/logo.png");
    display: inline-block;
    height: 48px;
    width: 80px;
    margin: 6px;
}
ul.parent li.child ul.dropdown{
    background: #fff;
    padding: 10px 10px;
   /* border: 1px solid #ccc;*/
    line-height: 27px;
    margin: 26px 0px;
    text-align: left;
    widows: 200px;
}
/*default make it display none for end usera*/
ul.dropdown{
    display:none;
}
/*when line hover on li */
ul.parent li.dropdownli:hover ul.dropdown{
    background: white;
    display: block !important;
    border: 1px solid #ccc;
    transition: ease-in 0.7s all;
}
.parent li.dropdownli:hover ul.dropdown li{
    display: block;
}
ul.dropdown li a{
    color: #111;
}

#slidersection{
    background: url('../images/Combined.png');
    background-repeat: no-repeat;
    height: 480px;
    width:auto;
    background-size: cover;
    margin-top: -30px;
    
}
#slidersection article{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width:100%;
    flex-direction:column;
}
#slidersection article form{
display: flex;

}
#slidersection article form input{ 
padding: 10px 0px 10px 35px;
}

#slidersection article form button{ 
    background: #d84f57;
    padding: 11px 30px;
    color: #fff;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
#slidersection article form span{
    position: relative;
}

#slidersection article form i{
    position:absolute;
    top: 12px;
    left: 7px;
    color: #777;
    font-size: 20px;
}
#saveto250{
    background: #fff;
    width: 600px;
    height: 125px;
    box-shadow:1px 1px 9px 1px #ccc ;
    margin: -62px auto 0px;
}
#saveto250 article{
    display: flex;
    align-items: center;
    justify-content: center;
}
#cashback article{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
#cashback article div{
    background: #fff;
    padding: 10px;
    box-shadow: 1px 1px 4px 1px #999;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#footersection{
    background: #1b2320;
    width: 100%;

}
#footersection article{
    width: 80%;
    display: flex;
    margin:0 auto;
    padding: 20px 0;
}
#footersection article ul{
list-style: none;
padding: 0;
margin: 0;
}
#footersection article ul li a{
text-decoration: none;
color: #d7d7d7;
font-size: 14px;
}
#footersection article>div:nth-child(1){
    flex:1;
}
#footersection article>div:nth-child(2){
    flex:1;
}
#footersection article>div:nth-child(3){
    flex:1;
}
#footersection article>div:nth-child(4){
    flex:2;
}
#footersection article>div:nth-child(5){
    flex:2;
}
#footersection article>div p{
    font-weight: 700;
    margin-bottom: 19px;
    color: #797979;
}
#footersection article>div>ul li{
    padding: 6px 0;
}
#footersection article ul li a:hover{
    color: #fff;
}
.imglogo{
padding: 10px 0;
}

.parablock{
color: #d7d7d7;
line-height: 26px;
}
#social-media>a>span>i{
padding: 10px !important;
height: 25px !important;
width: 25px !important;
border-radius: 100% !important;
border: 1px solid #ccc !important;
color: #fff;
font-size: 20px;
display: inline-block;
text-align: center;
margin: 10px 4px;
}













